<ion-view view-title="Manter Questionário">

    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-checkmark-round" data-ng-click="manterQuestionarioCtrl.salvarQuestionario()"></button>
    </ion-nav-buttons>

    <ion-content class="has-footer">

        <ion-list-card>

            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-options="disciplina as disciplina.nome for disciplina in manterQuestionarioCtrl.arrayDisciplinas track by disciplina.id"
                    data-ng-model="manterQuestionarioCtrl.questionario.disciplina" data-ng-change="manterQuestionarioCtrl.listTemasByDisciplina(manterQuestionarioCtrl.questionario.disciplina)">
                </select>
            </div>

            <ion-item class="item-input" data-ng-if="manterQuestionarioCtrl.arrayDisciplinas && manterQuestionarioCtrl.arrayDisciplinas.length > 0">
                <input type="search" placeholder="Descrição" data-ng-model="manterQuestionarioCtrl.questionario.descricao">
            </ion-item>

            <ion-item class="item-divider">Filtro de Questões</ion-item>
            <ion-item class="item item-input item-select" data-ng-if="manterQuestionarioCtrl.arrayDisciplinas && manterQuestionarioCtrl.arrayDisciplinas.length > 0">
                <span class="input-label" data-ng-class="{'placeholder-icon' : !manterQuestionarioCtrl.arrayTemas || manterQuestionarioCtrl.arrayTemas.length === 0}">Tema</span>
                <select data-ng-disabled="!manterQuestionarioCtrl.arrayTemas || manterQuestionarioCtrl.arrayTemas.length === 0" data-ng-options="tema as tema.nome for tema in manterQuestionarioCtrl.arrayTemas"
                    data-ng-model="manterQuestionarioCtrl.filtroTema" data-ng-change="manterQuestionarioCtrl.listQuestoesByTema(manterQuestionarioCtrl.filtroTema)">
                </select>
            </ion-item>

            <ion-item class="item item-input item-select" data-ng-if="manterQuestionarioCtrl.arrayDisciplinas && manterQuestionarioCtrl.arrayDisciplinas.length > 0">
                <div class="input-label">
                    Nível
                </div>
                <select required data-ng-options="nivel as nivel for nivel in manterQuestionarioCtrl.arrayNiveisQuestao" data-ng-model="manterQuestionarioCtrl.filtroNivel"></select>
            </ion-item>

            <ion-item class="item-input" data-ng-if="manterQuestionarioCtrl.arrayDisciplinas && manterQuestionarioCtrl.arrayDisciplinas.length > 0">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Filtrar Questões" data-ng-model="manterQuestionarioCtrl.filtroTextoQuestao">
            </ion-item>

        </ion-list-card>

        <ion-list-card>
            <ion-item class="item-divider">Questões Disponíveis</ion-item>
            <ion-checkbox data-ng-repeat="questao in manterQuestionarioCtrl.arrayQuestoes| filter : {'nivel' : manterQuestionarioCtrl.filtroNivel} | filter : {'texto' : manterQuestionarioCtrl.filtroTextoQuestao} track by $index"
                data-ng-model="questao.checked" data-ng-change="manterQuestionarioCtrl.selecionarQuestao(questao)">
                {{questao.texto}}
            </ion-checkbox>

        </ion-list-card>

        <ion-list show-delete="true">
            <ion-item class="item-divider">Questões Selecionadas</ion-item>
            <ion-item data-ng-repeat="questao in manterQuestionarioCtrl.questionario.questoes track by $index" data-ng-model="questao.checked">
                <ion-delete-button class="ion-minus-circled" data-ng-click="manterQuestionarioCtrl.removerQuestaoSelecionada(questao, $index)"></ion-delete-button>
                {{questao.texto}}
            </ion-item>

        </ion-list>

    </ion-content>

<!--    <ion-tabs class="tabs-positive tabs-icon-only">
        <ion-tab icon-on="ion-checkmark-circled" icon-off="ion-checkmark-circled" data-ng-click="manterQuestionarioCtrl.salvarQuestionario()"></ion-tab>
        <ion-tab icon-on="ion-close-circled" icon-off="ion-close-circled" ui-sref="menu.questionario"></ion-tab>
    </ion-tabs>-->

</ion-view>