<ion-view view-title="Questionários">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" data-ui-sref="menu.manter-questionario"></button>
    </ion-nav-buttons>
    
    <ion-content>
        
        <div class="list card">
            
            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap"
                        data-ng-options="disciplina as disciplina.nome for disciplina in questionarioCtrl.arrayDisciplinas track by disciplina.id"
                        data-ng-model="questionarioCtrl.filtroDisciplina"
                        data-ng-change="questionarioCtrl.listQuestionarioByDisciplina(questionarioCtrl.filtroDisciplina)">
                </select>
            </div>
            
        </div>
        
        <ion-list-card>
            
            <ion-item class="item-icon-right" data-ng-click="questionarioCtrl.goEditQuestionario(questionario)" data-ng-repeat="questionario in questionarioCtrl.arrayQuestionario track by $index">
                {{questionario.descricao}}
                <i class="icon ion-unlocked" data-ng-if="questionario.status == 'CADASTRADO'"></i>
                <i class="icon ion-locked" data-ng-if="questionario.status == 'REALIZADO'"></i>
            </ion-item>
            
        </ion-list-card>
        
    </ion-content>

</ion-view>