<ion-view view-title="Login" align-title="left">
    <ion-content scroll="false">
        <div class="hero no-header flat">
            <div class="content">
                <h1 class="assertive">InteleQuiz</h1>
            </div>
        </div>
        <div class="padding">
            <form name="loginForm" novalidate data-ng-submit="loginCtrl.autenticar(loginCtrl.usuario);">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-person"></i>
                        <input type="text" placeholder="Usuário" required data-ng-model="loginCtrl.usuario.login">
                    </label>

                    <label class="item item-input">
                        <i class="icon ion-key"></i>
                        <input type="password" placeholder="Senha" required data-ng-model="loginCtrl.usuario.senha">
                    </label>

                    <label class="item item-input item-select">
                        <span class="input-label">
                            Perfil
                        </span>
                        <select required data-ng-model="loginCtrl.usuario.perfil">
                            <option>Aluno</option>
                            <option>Professor</option>
                        </select>
                    </label>
                </div>
                <button type="submit" data-ng-disabled="!loginForm.$valid" class="button button-full button-assertive ink">Login</button>
            </form>
        </div>

    </ion-content>
</ion-view>