<ion-view view-title="Login" align-title="left">
    <ion-content scroll="false">
        <div class="hero no-header flat">
            <div class="content">
                <h1 class="assertive" data-ng-click="loginCtrl.init()">InteleQuiz</h1>
            </div>
        </div>
        <div class="padding">
            <form name="loginForm" novalidate data-ng-submit="loginCtrl.autenticar(loginCtrl.usuario);">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-person"></i>
                        <input type="text" placeholder="Usuário" required data-ng-model="loginCtrl.usuario.login">
                    </label>

                    <label class="item item-input">
                        <i class="icon ion-key"></i>
                        <input type="password" placeholder="Senha" required data-ng-model="loginCtrl.usuario.senha">
                    </label>

                    <label class="item item-input item-select">
                        <span class="input-label" data-ng-class="{'placeholder-icon' : !loginCtrl.arrayTiposUsuario || loginCtrl.arrayTiposUsuario.length === 0}">
                            Perfil
                        </span>
                        <select required
                                data-ng-disabled="!loginCtrl.arrayTiposUsuario || loginCtrl.arrayTiposUsuario.length === 0"
                                data-ng-options="item for item in loginCtrl.arrayTiposUsuario" data-ng-model="loginCtrl.usuario.perfil"
                                data-ng-change="loginCtrl.mockUser()">
                        </select>
                    </label>
                </div>
                <button type="submit" data-ng-disabled="!loginForm.$valid" class="button button-full button-assertive ink">Login</button>
            </form>
        </div>

    </ion-content>
</ion-view>