<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

        <ion-nav-bar class="bar-assertive" align-title="center">
            <!--<ion-nav-back-button></ion-nav-back-button>-->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="conteudo"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark" align-title="center">
            <h1 class="title">{{menuCtrl.usuarioLogado.nome}}</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div data-ng-if="menuCtrl.usuarioLogado.perfil == 'PROFESSOR' || menuCtrl.usuarioLogado.perfil == 'COORDENADOR'">
                    <a href="#/menu/tema" class="item" menu-close>Tema</a>
                    <a href="#/menu/questao" class="item" menu-close>Questão</a>
                    <a href="#/menu/quiz" class="item" menu-close>Quiz</a>
                </div>

                <div data-ng-if="menuCtrl.usuarioLogado.perfil == 'ALUNO'">
                    <a href="#/menu/treino" class="item" menu-close>Treino</a>
                </div>

                <a href="#/menu/rankings" class="item" menu-close>Rankings</a>
                <a href="#/menu/desempenho" class="item" menu-close>Desempenho</a>

                <a href="#/login" class="item" menu-close>Sair</a>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>