<ion-view view-title="Treinos">
    <ion-content>
        <ion-refresher on-refresh="treinoCtrl.init()"></ion-refresher>

        <div class="list">
            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-model="treinoCtrl.filtroTurma" data-ng-options="turma as turma.disciplina.nome for turma in treinoCtrl.arrayTurma track by turma.id"
                    data-ng-change="treinoCtrl.listTreinosDisponiveis(treinoCtrl.filtroTurma)">
                </select>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">Disponíveis</div>
        </div>
        <div class="list card stable-bg animate-blinds" data-ng-repeat="publicacao in treinoCtrl.arrayQuizDisponivel track by quiz.id">
            <div class="item item-body">{{publicacao.quiz.descricao}}</div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-calendar"></i> {{publicacao.tsPublicacao | date : 'dd/MM/yyyy'}} à {{publicacao.tsEncerramento | date : 'dd/MM/yyyy'}}</a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" data-ui-sref="menu.realizar-treino({publicacao: publicacao, novoTreino: true})"> <i class="icon ion-forward"></i> Realizar </a>
            </div>
        </div>

    </ion-content>

</ion-view>