<ion-view view-title="Publicar Quiz">

    <ion-nav-bar class="bar-assertive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <ion-refresher on-refresh="publicarQuizCtrl.init()"></ion-refresher>

        <div class="list">

            <div class="item item-input item-select">
                <span class="input-label">Turma</span>
                <select class="item-text-wrap" data-ng-options="turma as (turma.semestre + '/' + turma.ano + '/' + turma.disciplina.sigla + '/' + turma.letra + '/' + turma.turno) for turma in publicarQuizCtrl.arrayTurma track by turma.id"
                    data-ng-model="publicarQuizCtrl.filtroTurma">
                </select>
            </div>

            <onezone-datepicker datepicker-object="publicarQuizCtrl.onezoneDatepicker">
                <button class="button button-block button-outline button-assertive show-onezone-datepicker">
                    {{publicarQuizCtrl.onezoneDatepicker.date | date:'dd/MM/yyyy'}} 
                </button>
            </onezone-datepicker>

            <button class="button button-block button-assertive button-outline" data-ng-click="publicarQuizCtrl.savePublicacao(publicarQuizCtrl.filtroTurma)">
                <i class="icon ion-share"></i>
                Publicar
            </button>
        </div>

        <div class="list card stable-bg animate-blinds" data-ng-repeat="publicacao in publicarQuizCtrl.arrayQuizPublicado track by publicacao.id">
            <div class="item item-body">{{publicacao.quiz.descricao}}</div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-calendar"></i> {{publicacao.tsPublicacao | date : 'dd/MM/yyyy'}} à {{publicacao.tsEncerramento | date : 'dd/MM/yyyy'}}</a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> {{publicacao.status}} </a>
            </div>
        </div>

    </ion-content>

</ion-view>