<ion-view view-title="Quiz">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" data-ui-sref="menu.manter-quiz"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher on-refresh="quizCtrl.init()"></ion-refresher>

        <div class="list">

            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-options="disciplina as disciplina.nome for disciplina in quizCtrl.arrayDisciplinas track by disciplina.id"
                    data-ng-model="quizCtrl.filtroDisciplina" data-ng-change="quizCtrl.listQuizByDisciplina(quizCtrl.filtroDisciplina)">
                </select>
            </div>

        </div>

        <div class="list card stable-bg animate-blinds" data-ng-repeat="quiz in quizCtrl.arrayQuiz track by quiz.id">
            <div class="item item-body">{{quiz.descricao}}</div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" data-ui-sref="menu.manter-quiz({quiz: quiz})"> <i class="icon ion-compose"></i> Editar</a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" data-ui-sref="menu.publicar-quiz({quiz: quiz})"> <i class="icon ion-share"></i> Publicar </a>
            </div>
        </div>

    </ion-content>

</ion-view>