<ion-view view-title="Quiz">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" data-ui-sref="menu.manter-quiz"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list class="card">
            <ion-item class="item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-model="treinoCtrl.filtroDisciplina" data-ng-options="turma.disciplina as turma.disciplina.nome for turma in treinoCtrl.arrayTurma track by turma.id"
                    data-ng-change="treinoCtrl.listTemasByDisciplina(treinoCtrl.filtroDisciplina)">
                </select>
            </ion-item>
        </ion-list>
        <ion-list class="card">
            <ion-item class="item-divider">Disponíveis</ion-item>
            <ion-item data-ng-repeat="tema in treinoCtrl.arrayTemas| filter : {'nome' : treinoCtrl.filtroNomeTema} | orderBy: 'nome'">
                {{tema.nome}}
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>