<ion-view view-title="Ranking de Alunos">

    <ion-nav-bar class="bar-assertive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-header-bar class="bar-subheader bar-dark" align-title="center">
        <h1 class="title">{{rankingAlunoCtrl.turma.semestre + '/' + rankingAlunoCtrl.turma.ano + '/' + rankingAlunoCtrl.turma.disciplina.sigla
            + '/' + rankingAlunoCtrl.turma.letra + '/' + rankingAlunoCtrl.turma.turno}}</h1>
    </ion-header-bar>

    <ion-content>
        <ion-refresher on-refresh="rankingAlunoCtrl.init()"></ion-refresher>

        <div class="list card stable-bg animate-blinds" data-ng-repeat="aluno in rankingAlunoCtrl.arrayRankingAlunos | orderBy: 'pontuacao' : true track by aluno.aluno.ra">
            <div class="item item-avatar">
                <img src='img/elizeu.jpg'data-ng-if="aluno.aluno.ra == '21550465'"/>
                <img src='img/thayllan.jpg'data-ng-if="aluno.aluno.ra == '21550466'"/>
                <img src='img/leandro.jpg'data-ng-if="aluno.aluno.ra == '21550467'"/>
                <img src='img/pablo.jpg'data-ng-if="aluno.aluno.ra == '21550468'"/>
                <h2>{{($index+1) + 'º - ' + aluno.aluno.nome}} </h2>
                <p>Pontuação: {{aluno.pontuacao + ' xp'}}</p>
                <p>Aproveitamento: {{(aluno.aproveitamento | number: 2) + ' %'}}</p>
            </div>
        </div>

    </ion-content>

</ion-view>