<ion-view view-title="Temas">
    <ion-content padding="true">
        <ion-refresher on-refresh="temaCtrl.init()"></ion-refresher>

        <div class="list">

            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-model="temaCtrl.filtroDisciplina" data-ng-options="disciplina as disciplina.nome for disciplina in temaCtrl.arrayDisciplinas| orderBy: 'nome'"
                    data-ng-change="temaCtrl.listTemasByDisciplinaByProfessor(temaCtrl.filtroDisciplina)">
                </select>
            </div>

            <div data-ng-if="temaCtrl.arrayDisciplinas && temaCtrl.arrayDisciplinas.length > 0">
                <div class="item item-input item-floating-label">
                    <span class="input-label">Novo Tema</span>
                    <input type="text" placeholder="Novo Tema" data-ng-model="temaCtrl.filtroNomeTema">
                </div>
            </div>

        </div>

        <div class="list">
            <div class="item item-divider">Temas por disciplina</div>
        </div>
        <div class="list card stable-bg animate-blinds" data-ng-repeat="tema in temaCtrl.arrayTemas| filter : {'nome' : temaCtrl.filtroNomeTema} | orderBy: 'nome' track by tema.id">
            <div class="item item-text-wrap item-badge">
                {{tema.nome}}
            </div>
        </div>

        <button class="button button-block button-outline button-assertive" data-ng-click="temaCtrl.saveTema(temaCtrl.filtroNomeTema)">Salvar</button>

    </ion-content>

</ion-view>