<ion-view view-title="Questões">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" data-ui-sref="menu.manter-questao"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher on-refresh="questaoCtrl.init()"></ion-refresher>

        <div class="list">

            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-options="disciplina as disciplina.nome for disciplina in questaoCtrl.arrayDisciplinas"
                    data-ng-model="questaoCtrl.filtroDisciplina" data-ng-change="questaoCtrl.listTemasByDisciplinaByProfessor(questaoCtrl.filtroDisciplina)">
                </select>
            </div>

            <div class="item item-input item-select" data-ng-if="questaoCtrl.arrayDisciplinas && questaoCtrl.arrayDisciplinas.length > 0">
                <span class="input-label" data-ng-class="{'placeholder-icon' : !questaoCtrl.arrayTemas || questaoCtrl.arrayTemas.length === 0}">Tema</span>
                <select data-ng-disabled="!questaoCtrl.arrayTemas || questaoCtrl.arrayTemas.length === 0" data-ng-options="tema as tema.nome for tema in questaoCtrl.arrayTemas"
                    data-ng-model="questaoCtrl.filtroTema" data-ng-change="questaoCtrl.listQuestaoByTema(questaoCtrl.filtroTema)">
                </select>
            </div>

        </div>

        <div class="list">
            <div class="item item-divider">Questões por disciplina e tema</div>
        </div>
        <div class="list card stable-bg animate-blinds" data-ng-repeat="questao in questaoCtrl.arrayQuestoes track by questao.id" data-ui-sref="menu.manter-questao({questao: questao})">
            <div class="item item-text-wrap"  data-ui-sref="menu.manter-questao({questao: questao})">
                {{questao.texto}}
            </div>
        </div>

    </ion-content>

</ion-view>