<ion-view view-title="Questões">
    <button class="button button-fab button-fab-bottom-right expanded button-energized-900 flap pane on" data-ui-sref="menu.manter-questao">
        <i class="icon ion-plus-round"></i>
    </button>
    <ion-content>
        <div class="list">
            <div class="item item-input item-select">
                <span class="input-label">Disciplina</span>
                <select class="item-text-wrap" data-ng-options="disciplina as disciplina.sigla for disciplina in questaoCtrl.listDisciplinas" data-ng-model="questaoCtrl.filtroDisciplina" data-ng-change="questaoCtrl.listTemasByDisciplina(questaoCtrl.usuarioLogado.matricula, questaoCtrl.filtroDisciplina.id)"></select>
            </div>
            <div class="item item-input item-select">
                <span class="input-label">Tema</span>
                <select data-ng-options="tema as tema.nome for tema in questaoCtrl.listTemas" data-ng-model="questaoCtrl.filtroTema" data-ng-change="questaoCtrl.listQuestoesByTema(questaoCtrl.filtroTema.id)"></select>
            </div>
        </div>
        <div class="list">

            <a class="item item-icon-right" href="#" data-ng-repeat="questao in questaoCtrl.listQuestoes track by $index">
                {{questao.texto}}
                <i class="icon ion-unlocked" data-ng-if="questao.status=='CADASTRADO'"></i>
                <i class="icon ion-locked" data-ng-if="questao.status=='REALIZADO'"></i>
            </a>
        </div>
    </ion-content>

</ion-view>